@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	cursor: none;
}

/* Scrollbar */

::-webkit-scrollbar {
	/* display: none; */
	width: 2px; /* width of the scrollbar */
	height: 0px; /* height of the scrollbar */
	background: rgb(160, 198, 255); /* background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(
		rgb(134, 239, 172),
		rgb(95, 156, 255),
		rgb(165, 76, 249)
	);
}

/* main */

main {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2rem;
	place-items: center;
	align-items: end;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* name */

.name {
	font-family: "Roboto Mono", monospace;
	color: #fff;
	letter-spacing: 0.1rem;
	font-size: 1.5em;
	grid-row: 1;
}

/* Typing animation */

#typed {
	color: #7fffd4;
	font-family: "Roboto", monospace;
	font-size: 1.5em;
	text-align: center;
	grid-row: 2;
}

/* socials */

.socials {
	grid-row: 3;
}

.icon {
	color: #fff;
	margin: 0 1em;
}

.icon:hover {
	animation: icon3d 300ms infinite;
}

@keyframes icon3d {
	0% {
		text-shadow: 5px 4px rgba(244, 67, 54, 1),
			-5px -6px rgba(33, 150, 243, 1);
	}
	25% {
		text-shadow: -5px -6px rgba(244, 67, 54, 1),
			5px 4px rgba(33, 150, 243, 1);
	}
	50% {
		text-shadow: 5px -4px rgba(244, 67, 54, 1),
			-8px 4px rgba(33, 150, 243, 1);
	}
	75% {
		text-shadow: -8px -4px rgba(244, 67, 54, 1),
			-5px -4px rgba(33, 150, 243, 1);
	}
	100% {
		text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
	}
}

@media screen and (max-width: 760px) {
	.socials {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
	}
	#typed,
	.name {
		font-size: 1.2em;
	}
}

/* Resume Button */

.Resume {
	color: #fff;
	border-radius: 5px;
	padding: 0.7em 2em;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	background: transparent;
	transition: all 0.3s ease;
	grid-row: 4;
}

.Resume {
	border: none;
	text-decoration: none;
	background: linear-gradient(0deg, rgb(37, 52, 77) 0%, rgb(0, 0, 0) 100%);
}
.Resume:hover {
	color: #7fffd4;
	background: transparent;
	box-shadow: none;
}

/* Cursor */

.cursor {
	z-index: 999;
	position: fixed;
	background: #2696e8;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	pointer-events: none;
	box-shadow: 0 0 16px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
	animation: colors 5s infinite;
	transform: translate(-50%, -50%);
	display: none;
}

@keyframes colors {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.cursor:before {
	content: "";
	position: absolute;
	background: #2696e8;
	width: 36px;
	height: 36px;
	opacity: 0.2;
	transform: translate(-30%, -30%);
	border-radius: 50%;
}

/* Footer */

.footer {
	font-size: 0.8rem;
	color: #fff;
	position: absolute;
	top: 98%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-bottom: 1em;
}

.footer a {
	color: #fff;
	text-decoration: none;
	position: relative;
	padding-left: 3px;
}

/*---------------------------------------------------------------*/

/* ---- particles ---- */

#particles-js {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
